#transactions-add-router {
    display: inline-block;
    position: relative;
    width: 20%;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

#transactions-add-router:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

    .dropdown-content a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
    }

.transactions-body {
    min-height: 100px;
    max-width: 1000px;
    margin: auto;
    background: white;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
    margin: 10px auto;
}

tr, th, td {
    margin: 10px auto;
    padding: 10px;
}

td:first-child, th:first-child {
    border-radius: 20% 0 0 20%;
}

td:last-child, th:last-child {
    border-radius: 0 20% 20% 0;
}

.income {
    border-radius: 10px;
    background: #bcf5bc;
}

.expense {
    border-radius: 10px;
    background: #FFCCCB;
}

p {
    color: #808080;
    margin: 25px 0 15px;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

label {
    color: #aaa;
    display: inline-block;
    margin: 25px 0 15px;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.form-control, select {
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #555;
}

.transaction-button, button {
    background: var(--dark);
    border: 0;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;   
}

a {
    color: inherit;
    text-decoration: inherit;
}

.control_wrapper {
    max-width: 250px;
    margin: 0 auto;
}

input[type="date"] {
    background-color: #192841;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
}

#pw-req {
    color: red;
    display: inline-block;
    margin: 0 0 15px;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.material-symbols-outlined {
    color: var(--grey);
    font-size: 30px;
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48
}