@model webapi.Models.Expense
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Delete";
}

<div id="app">
    <DeleteExpenses DeleteExpenseUrl="@Url.Action("Delete", "Expense", new { Id = Model.Id })" IndexExpenseUrl="@Url.Action("Index", "Expense")" :expense="@JsonConvert.SerializeObject(Model)"></DeleteExpenses>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Expense.js")"></script>
}
