@model webapi.Models.Expense
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Details";
}

<div id="app">
    <DetailsExpenses CreateExpenseUrl="@Url.Action("Edit", "Expense", new { Id = Model.Id })" IndexExpenseUrl="@Url.Action("Index", "Expense")" :expense="@JsonConvert.SerializeObject(Model)"></DetailsExpenses>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Expense.js")"></script>
}
