@model webapi.Models.Expense
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Edit";
}

<div id="app">
    <EditExpenses CreateExpenseUrl="@Url.Action("Edit", "Expense", new { Id = Model.Id })" :expense="@JsonConvert.SerializeObject(Model)"></EditExpenses>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Expense.js")"></script>
}
